// Fonts
h1, h2, h3, h4, h5 h6 {
	font-family: 'league spartan', Helvetica, Arial,  sans-serif;
}

// Links
a.light {
    color: #AAABB8;
    text-decoration: none;

    &:hover {
        color: white;
        text-decoration: none;
    }

    &:active,
    &:visited {
        color: #AAABB8;
        text-decoration: none;
    }
}
